body {
    --background-color: radial-gradient(circle at center center, rgb(165, 164, 164), rgb(83, 83, 83));
    --clock-border: 10px solid black;
    --hand-color: black;

    background: var(--background-color);
    
    
}

body.dark {
    --background-color: radial-gradient(circle at center center, rgb(71, 71, 71),rgb(8, 8, 8));
    --clock-border: 10px solid white;
    --hand-color: white;

    background: var(--background-color);
}

.hide {
    display: none;
}

/* DIGITAL CLOCK */
.digital-clock {
    color: var(--hand-color);
    font-size: 150px;
    padding: 0px 5px 0px 5px;
    text-align: center;
    margin-top: 50px;
}

/* ANALOG CLOCK */
.analog-clock {
    width: 30rem;
    height: 30rem;
    border: var(--clock-border);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 6px;
    background: var(--hand-color);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1 2.7 0.58 1);
}

.hour-hand {
    width: 25%;
    left: 100px;
    
}

.second-hand {
    background-color: rgb(185, 3, 3);
}

/* TOGGLE BOXES */
.toggle-box { 
    background-color: var(--background-color);
    color: var(--hand-color);
    border-color: var(--hand-color);
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 190px;
}

.toggle-box-2 {
    background-color: var(--background-color);
    color: var(--hand-color);
    border-color: var(--hand-color);
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 190px;
}

.switch-toggle-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-toggle-wrapper .switch {
  margin-bottom: 0;
}


