body {
    --background-color: white;
    --clock-border: 10px solid black;
    --hand-color: black;

    background-color: var(--background-color);
}

body.dark {
    --background-color: black;
    --clock-border: 10px solid white;
    --hand-color: white;

    background-color: var(--background-color);
}

/* DIGITAL CLOCK */


/* ANALOG CLOCK */
.analog-clock {
    width: 30rem;
    height: 30rem;
    border: var(--clock-border);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px gray,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: var(--hand-color);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1 2.7 0.58 1);
}

.hour-hand {
    width: 25%;
    left: 100px;
    
}

/* TOGGLE BOXES */
.toggle-box { 
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 190px;
}

.toggle-box-2 {
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 190px;
}

.switch-toggle-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-toggle-wrapper .switch {
  margin-bottom: 0;
}